.card {
    border-radius: 0;
    border: 0;
    word-break: keep-all;

    //common styles

    .flip-btn {
        cursor: pointer;
        appearance: none !important;
        background: none;
        border: 0;
        border-radius: 50%;
        backface-visibility: hidden;
        width: 45px;
        height: 45px;
        padding: 0;
        margin: 0;

        &:active, &:focus {
            outline: 0;
        }

        span {
            color: $color-secondary;
            order: 2;
            margin-left: 8px;
        }

        svg {
            cursor: pointer;
            width: 45px;
            height: 45px;
            padding: 10px;
            border: 2px solid $color-secondary;
            border-radius: 50%;
            background-color: transparent;
            order: 1;
        }
    }

    &__toggle-button {
        position: absolute;
        display: flex;
        align-items: center;
        font-size: 18px;
        font-weight: 600;

        span {
            color: $color-secondary;
            order: 2;
            font-size: 18px;
            font-weight: 600;
            margin-left: 8px;
        }
    }

    &__team-photo {
        box-shadow: 7px 7px 0px 0px $color-secondary;
        border: 2px solid $color-secondary;
        border-radius: 50%;
        margin: 0 auto;
        width: 235px;
        margin-bottom: 25px;
        max-width: 100%;
    }

    &__team-member-name {
        color: $color-white;
        display: block;
        font-size: 20px;
        font-weight: 600;
    }

    &__team-member-title {
        color: $color-white;
        display: block;
        font-size: 20px;
        font-weight: 300;
    }

    &__img-support {
        position: absolute;
        top: -165px;
        left: calc(50% - 33.5px);
    }

    &__achievement {
        color: $color-green;
        font-size: 16px;
        font-weight: 600;

        &::after {
            content: "\2714";
            display: inline-block;
            width: 22px;
            height: 22px;
            background-color: $color-green;
            border-radius: 50%;
            color: $color-white !important;
            padding-left: 6px;
            margin-left: 7px;
            font-size: 14px;
            line-height: 1.5;

        }
    }

    &__team-attribute {
        font-weight: 600;
        font-size: 18px;
        color: $color-main;
    }

    //specific styles
    &--info {
        margin-bottom:25px;
        margin-top: 25px;
        background-color: transparent;

        .card__inner {
            box-shadow: 10px 10px 0px 0px $color-secondary;

            &::before {
                // content: "";
                // display: block;
                // margin: 0;
                // background-color: $color-secondary;
                // position: absolute;
                // top: 0;
                // bottom: -10px;
                // left: 0;
                // right: -10px;
                // z-index: 1;
                // transform: scaleX(1);
                // animation-name: animateTransition2;
                // animation-duration: 0.7s;
                // transition: transform 0.8s $transition-curve;
            }
        }



        // @keyframes animateTransition2 {
        //         0% { transform: scaleX(1); }
        //         50% { transform: scaleX(0.1); }
        //         100% { transform: scaleX(1); }
        // }

        .card__toggle-button {
            bottom: 30px;
        }

        // padding: 20px;

        .card__inner {
            min-height: 385px;
            background-color: $color-white;
            border: 1px solid $color-secondary;
            padding: 20px;
            position: relative;
            z-index: 2;

            @media (min-width: 768px) {
                padding: 30px;
            }
        }

        &:hover {
            .flip-btn {
                color: $color-white;
                background-color: transparent;
                border-color: $color-secondary;

                svg .icon {
                    fill: $color-white;
                }

                span {
                    color: $color-white;

                }
            }
        }
    }

    &--flip {

        position: relative;
        perspective: 800px;
        // transform-style: preserve-3d;
        cursor: pointer;

        .card__inner {
            transform-style: preserve-3d;
            transition: transform 0.8s $transition-curve;
            background-color: transparent;
            transform: rotateY(0deg);
        }

        .card__front {
            position: absolute;
            padding: 30px;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            backface-visibility: hidden;
            z-index: 2;
            background-color: $color-white;

        }

        .card__back {
            transform: rotateY(180deg);
            backface-visibility: hidden;
            position: absolute;
            padding: 30px;
            height: 100%;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            background-color: $color-white;
            z-index: 2;

            ul  {
                list-style: none;
                padding: 0;
                margin: 0;
            }

            li {
                padding: 0;
            }
        }

        .card__title {
            line-height: 1.3;
            color: $color-secondary;
            margin-bottom: 25px;
            font-size: 28px;
        }

        &.is-active {
            .card__inner {
                transform: rotateY(180deg);
            }

            transform: translate(0, 0);
        }
    }




    &--round {
        background-color: transparent;

        .card__inner {
            min-height: 315px;
            margin-bottom: 50px;
        }

        .card__front {
            text-align: center;
            width: 100%;
        }

        .card-text {
            color: $color-white;
        }

        .card__toggle-button {
            position: absolute;
            left: calc(50% + 95px);
            top: calc(50% - 80px);
            z-index: 2;

            @media (min-width: 768px) {
                left: calc(50% + 82.5px);
            }


            @media (min-width: 992px) {
                left: calc(50% + 95px);
            }
        }
    }


    &--roadmap {
        // width: 340px;
        padding: 15px;
        border: 1px solid $color-highlight;
        z-index: 2;
        display: flex;
        flex-flow: row nowrap;
        align-items: stretch;
        justify-content: flex-start;

        &-unlocked {
            border-color: $color-green;

            .roadmap__date {
                color: $color-mid-gray;
            }

            .roadmap__step-number {
                color: $color-mid-gray;
                border-color: $color-mid-gray;
            }
        }

        .card__text {
            margin-bottom: 10px;
        }
    }

    &--expand {
        cursor: pointer;

        .card__back {
            opacity: 0;
            background-color: $color-white;
            border: 2px solid $color-secondary;
            transition: opacity 0.5s $transition-curve, transform 0.4s $transition-curve;
            transform: scale(0.5);
            position: absolute;
            bottom: -25px;
            left: -50px;
            z-index: 5;
            width: calc(100% + 100px);
            // min-height: calc(100% + 200px);
            padding: 100px 50px 70px 50px;
            border-radius: 50%;

            @media (min-width: 576px) {
                width: 450px;
                min-height: 450px;
                padding: 100px 70px 70px 70px;
                bottom: calc(50% - 200px);
                left: calc(50% - 225px);
            }

            @media (min-width: 768px) {
                width: 500px;
                min-height: 500px;
                padding: 100px 70px 80px 70px;
                bottom: calc(50% - 200px);
                left: calc(50% - 250px);
            }

            @media (min-width: 992px) {
                width: 550px;
                min-height: 550px;
                padding: 100px 70px;
                bottom: calc(50% - 200px);
                left: calc(50% - 275px);
            }

            .card__team-member-name, .card__team-member-title {
                color: $color-main;
            }

            .card__team-member-title {
                font-weight: 300;
                margin-bottom: 20px;

                @media (min-width: 576px) {
                    margin-bottom: 30px;
                }
            }

            .card__toggle-button {
                position: absolute;
                top: 40px;
                left: 0;
                right: 0;
                margin: 0 auto;
                width: 45px;

                &::after {
                    margin-right: 0;
                }
            }
        }

        .card__toggle-button {
            background-color: $color-white;
            border-radius: 50%;
        }

        &.is-active {
            .card__back {
                opacity: 1;
                transform: scale(1);
                background-color: $color-white;
                border: 1px solid $color-secondary;
            }
        }
    }

    &:hover {
        .flip-btn {
            color: $color-white;
            background-color: transparent;
            border-color: $color-secondary;

            &::before {
                transform: scale(1);
            }
            svg .icon {
                fill: $color-white;
            }

            span {
                color: $color-white;

            }
        }
    }

}

.transform-fix {
    transform: translate(0,0);
}
