.card {
    border-radius: 0;
    border: 0;

    //common styles
    &__read-more-button {
        color: $color-secondary;
        font-size: 18px;
        font-weight: 600;
        appearance: none !important;
        background: none;
        border: 0;
        backface-visibility: hidden;
        position: absolute;
        // top: 0;
        // right: 0;


        &::before {
            content: "";
            display: inline-block;
            width: 45px;
            height: 45px;
            font-size: 30px;
            background-color: $color-white;
            border: 2px solid $color-secondary;
            border-radius: 50%;
            margin-right: 8px;
            margin-bottom: -16px;
            background-image: url('../../img/plus.svg');
            background-repeat: no-repeat;
            background-position: center;
        }
    }

    &__team-photo {
        box-shadow: 7px 7px 0px 0px $color-secondary;
        border: 2px solid $color-secondary;
        border-radius: 50%;
        margin: 0 auto;
        width: 235px;
        margin-bottom: 25px;
        max-width: 100%;
    }

    &__team-member-name {
        color: $color-white;
        display: block;
        font-size: 20px;
        font-weight: 600;
    }

    &__team-member-title {
        color: $color-white;
        display: block;
        font-size: 20px;
        font-weight: 300;
    }

    &__img-support {
        position: absolute;
        top: -165px;
        left: calc(50% - 33.5px);
    }

    &__achievement {
        color: $color-green;
        font-size: 16px;
        font-weight: 600;

        &::after {
            content: "\2714";
            display: inline-block;
            width: 22px;
            height: 22px;
            background-color: $color-green;
            border-radius: 50%;
            color: $color-white;
            padding-left: 6px;
            margin-left: 7px;
            font-size: 14px;
            line-height: 1.5;

        }
    }

    //specific styles
    &--info {
        margin-bottom:25px;
        margin-top: 25px;
        background-color: transparent;

        &::before {
            content: "";
            display: block;
            margin: 30px;
            background-color: $color-secondary;
            position: absolute;
            top: 0;
            bottom: -10px;
            left: 0;
            right: -10px;
            z-index: 1;
            animation-name: animateTransition2;
            animation-duration: 0.7s;
            transition: transform 0.8s $transition-curve;
        }

        @keyframes animateTransition2 {
                0% { transform: scaleX(0); }
                100% { transform: scaleX(1); }
        }

        @media (min-width: 576px) {
            padding: 20px;
        }

        @media (min-width: 768px) {
            padding: 30px;
        }

        .card__inner {
            min-height: 325px;
            background-color: $color-white;
            border: 1px solid $color-secondary;
            padding: 30px;
            position: relative;
            z-index: 2;
        }
    }

    &--flip {

        position: relative;
        perspective: 800px;

        cursor: pointer;

        .card__inner {
            transform-style: preserve-3d;
            transition: transform 0.8s $transition-curve;
        }

        .card__front {
            position: absolute;
            backface-visibility: hidden;
            z-index: 2;

        }

        .card__back {
            transform: rotateY(180deg);
            backface-visibility: hidden;
            position: relative;
            z-index: 2;

            ul  {
                list-style: none;
                padding: 0;
                margin: 0;
            }

            li {
                padding: 0;
            }
        }

        .card__title {
            line-height: 1.3;
            color: $color-secondary;
            margin-bottom: 25px;
            font-size: 28px;
        }

        &.is-active {
            .card__inner {
                transform: rotateY(180deg);
            }

            &::before {
                animation-name: animateTransition;
                animation-duration: 0.7s;
                animation-timing-function: $transition-curve;
            }
        }
    }

    @keyframes animateTransition {
            0% { transform: scaleX(0); }
            100% { transform: scaleX(1); }
    }

    &--round {
        background-color: transparent;

        .card__inner {
            min-height: 315px;
            margin-bottom: 50px;
        }

        .card__front {
            text-align: center;
            width: 100%;
        }

        .card-text {
            color: $color-white;
        }

        .card__read-more-button::before {
            position: absolute;
            right: 20px;
            top: calc(50% - 40px);
        }
    }


    &--roadmap {
        // width: 340px;
        padding: 15px;
        border: 1px solid $color-highlight;
        z-index: 2;
        display: flex;
        flex-flow: row nowrap;
        align-items: stretch;
        justify-content: flex-start;

        &-unlocked {
            border-color: $color-green;

            .roadmap__date {
                color: $color-mid-gray;
            }

            .roadmap__step-number {
                color: $color-mid-gray;
                border-color: $color-mid-gray;
            }
        }

        .card__text {
            margin-bottom: 10px;
        }
    }
}
