.card {
    border: 0;
    border-radius: 0; //common styles
    word-break: keep-all;
    .flip-btn {
        margin: 0;
        padding: 0;
        width: 45px;
        height: 45px;
        border: 0;
        border-radius: 50%;
        background: none;
        cursor: pointer;

        appearance: none !important;
        backface-visibility: hidden;
        &:active,
        &:focus {
            outline: 0;
        }
        span {
            order: 2;
            margin-left: 8px;
            color: $color-secondary;
        }
        svg {
            order: 1;
            padding: 10px;
            width: 45px;
            height: 45px;
            border: 2px solid $color-secondary;
            border-radius: 50%;
            background-color: transparent;
            cursor: pointer;
        }
    }
    &__toggle-button {
        position: absolute;
        display: flex;
        align-items: center;
        font-weight: 600;
        font-size: 18px;
        span {
            order: 2;
            margin-left: 8px;
            color: $color-secondary;
            font-weight: 600;
            font-size: 18px;
        }
    }
    &__team-photo {
        margin: 0 auto;
        margin-bottom: 25px;
        max-width: 100%;
        width: 235px;
        border: 2px solid $color-secondary;
        border-radius: 50%;
        box-shadow: 7px 7px 0px 0px $color-secondary;
    }
    &__team-member-name {
        display: block;
        color: $color-white;
        font-weight: 600;
        font-size: 20px;
    }
    &__team-member-title {
        display: block;
        color: $color-white;
        font-weight: 300;
        font-size: 20px;
    }
    &__img-support {
        position: absolute;
        top: -165px;
        left: calc(50% - 33.5px);
    }
    &__achievement {
        color: $color-green;
        font-weight: 600;
        font-size: 16px;
        &::after {
            display: inline-block;
            margin-left: 7px;
            padding-left: 6px;
            width: 22px;
            height: 22px;
            border-radius: 50%;
            background-color: $color-green;
            color: $color-white !important;
            content: "\2714\fe0e";
            font-size: 14px;
            line-height: 1.5;
        }
    }
    &__team-attribute {
        color: $color-main;
        font-weight: 600;
        font-size: 18px;
    }
    &__container {
        display: flex;
    } //specific styles
    &--info {
        display: flex;
        align-items: stretch;
        flex-flow: row nowrap;
        margin-top: 25px;
        margin-bottom: 25px;
        padding: 0 20px;
        background-color: transparent;
        @media (min-width: 576px) {
            padding: 0;
        }
        .card__toggle-button {
            bottom: 30px;
        }
        .card__back,
        .card__front {
            padding: 20px;
            padding-bottom: 90px;
            @media (min-width: 768px) {
                min-height: 350px;
            }
            @media (min-width: 992px) {
                padding: 30px;
                min-height: 385px;
            }
        }
        .card__inner {
            position: relative;
            z-index: 2;
            display: flex;
            align-items: stretch;
            flex-flow: row nowrap;
            background-color: $color-white;
            box-shadow: 10px 10px 0px 0px $color-secondary;
        }
        .card__title {
            margin-bottom: 25px;
            color: $color-secondary;
            font-size: 26px;
            line-height: 1.3;
            @media (min-width: 346px) {
                font-size: 28px;
            }
        }
        &:hover {
            .flip-btn {
                border-color: $color-secondary;
                background-color: transparent;
                color: $color-white;
                svg .icon {
                    fill: $color-white;
                }
                span {
                    color: $color-white;
                }
            }
        }
    }
    &--flip {
        position: relative;
        cursor: pointer;

        will-change: transform;
        will-change: transform;
        perspective: 800px; // transform-style: preserve-3d;
        .card__inner {
            background-color: transparent;
            transition: transform 0.8s $transition-curve;
            transform: rotateY(0deg);

            transform-style: preserve-3d;
        }
        .card__front {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 2;
            padding: 20px;
            border: 1px solid $color-secondary;
            background-color: $color-white;

            backface-visibility: hidden;
            @media (min-width: 768px) {
                padding: 20px;
            }
        }
        .card__back {
            position: relative;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 3;
            height: 100%;
            border: 1px solid $color-secondary;
            background-color: $color-white;
            transform: rotateY(180deg);

            backface-visibility: hidden;
            ul {
                margin: 0;
                padding: 0;
                list-style: none;
            }
            li {
                padding: 0;
            }
        }
        &.is-active {
            transform: translate(0, 0);
            .card__inner {
                transform: rotateY(180deg);
            }
        }
    }
    &--round {
        background-color: transparent;
        .card__inner {
            margin-bottom: 50px;
            min-height: 315px;
        }
        .card__front {
            width: 100%;
            text-align: center;
        }
        .card-text {
            color: $color-white;
        }
        .card__toggle-button {
            position: absolute;
            top: calc(50% - 80px);
            left: calc(50% + 95px);
            z-index: 2;
            @media (min-width: 768px) {
                left: calc(50% + 82.5px);
            }
            @media (min-width: 992px) {
                left: calc(50% + 95px);
            }
        }
    }
    &--roadmap {
        z-index: 2;
        display: flex;
        align-items: stretch;
        flex-flow: row nowrap;
        justify-content: flex-start; // width: 340px;
        padding: 15px;
        border: 1px solid $color-highlight;
        &-unlocked {
            border-color: $color-green;
            .roadmap__date {
                color: $color-mid-gray;
            }
            .roadmap__step-number {
                border-color: $color-mid-gray;
                color: $color-mid-gray;
            }
        }
        .card__text {
            margin-bottom: 10px;
        }
    }
    &--expand {
        cursor: pointer;
        .card__back {
            position: absolute;
            bottom: -25px;
            left: -50px;
            z-index: 5;
            padding: 100px 50px 70px 50px;
            width: calc(100% + 100px); // min-height: calc(100% + 200px);
            border: 2px solid $color-secondary;
            border-radius: 50%;
            background-color: $color-white;
            opacity: 0;
            transition: opacity 0.5s $transition-curve, transform 0.4s $transition-curve;
            transform: scale(0.5);
            @media (min-width: 576px) {
                bottom: calc(50% - 200px);
                left: calc(50% - 225px);
                padding: 100px 70px 70px 70px;
                min-height: 450px;
                width: 450px;
            }
            @media (min-width: 768px) {
                bottom: calc(50% - 200px);
                left: calc(50% - 250px);
                padding: 100px 70px 80px 70px;
                min-height: 500px;
                width: 500px;
            }
            @media (min-width: 992px) {
                bottom: calc(50% - 200px);
                left: calc(50% - 275px);
                padding: 100px 70px;
                min-height: 550px;
                width: 550px;
            }
            .card__team-member-name,
            .card__team-member-title {
                color: $color-main;
            }
            .card__team-member-title {
                margin-bottom: 20px;
                font-weight: 300;
                @media (min-width: 576px) {
                    margin-bottom: 30px;
                }
            }
            .card__toggle-button {
                position: absolute;
                top: 40px;
                right: 0;
                left: 0;
                margin: 0 auto;
                width: 45px;
                &::after {
                    margin-right: 0;
                }
            }
        }
        .card__toggle-button {
            border-radius: 50%;
            background-color: $color-white;
        }
        &.is-active {
            .card__back {
                border: 1px solid $color-secondary;
                background-color: $color-white;
                opacity: 1;
                transform: scale(1);
            }
        }
    }
    &:hover {
        .flip-btn {
            border-color: $color-secondary;
            background-color: transparent;
            color: $color-white;
            &::before {
                transform: scale(1);
            }
            svg .icon {
                fill: $color-white;
            }
            span {
                color: $color-white;
            }
        }
    }
}