.diagram {
    will-change: transform;
    .section__text {
        @media (min-width: 1200px) {
            margin-bottom: 0;
        }
    }
    &__top-left {
        padding-bottom: 0;
        &::after {
            position: absolute;
            right: 25%;
            bottom: 50px;
            display: none;
            width: 100px;
            height: 23px;
            content: "";
            transform: rotate(90deg);

            background-image: url('../img/diagram-arrow.svg');
            background-repeat: no-repeat;
            background-position: center;
        }
        @media (min-width: 992px) {
            padding-bottom: 0;
            &::after {
                top: -30px;
                left: 90%;
                display: block;
                width: 168px;
                height: 40px;
                transform: rotate(0deg);
            }
        }
        @media (min-width: 1200px) {
            &::after {
                left: 90%;
            }
        }
        @media (min-width: 1400px) {
            &::after {
                left: calc(100% - 60px);
            }
        }
    }
    &__top-right {
        padding-bottom: 0;
        &::after {
            position: absolute;
            bottom: 46px;
            left: 25%;
            display: none;
            width: 100px;
            height: 23px;
            content: "";
            transform: rotate(-90deg) rotateY(180deg);

            background-image: url('../img/diagram-arrow.svg');
            background-repeat: no-repeat;
            background-position: center;
        }
        @media (min-width: 992px) {

            &::after {
                right: 20%;
                bottom: -180px;
                left: 50%;
                display: block;
                width: 168px;
                height: 40px;

                transform: rotate(135deg);
            }
        }
        @media (min-width: 1200px) {}
    }
    &__lower {
        &::after {
            position: absolute;
            top: 140px;
            left: -45%;

            display: none;

            width: 168px;
            height: 40px;

            content: "";
            transform: rotate(-135deg);

            background-image: url('../img/diagram-arrow.svg');
            background-repeat: no-repeat;
            background-position: center;
        }
        @media (min-width: 992px) {
            margin-top: 50px;
            padding-bottom: 0;
            &::after {
                display: block;
            }
        }
    }
    ul {
        padding-left: 20px;

        list-style: disc;
    }
}
