.section {
    &--has-bg {
        .section__title {
            color: $color-white;
        }

        .section__text {
            color: $color-white;
        }

        i {
            color: $color-white;
        }
    }

    &--child-section {
        height: 100%;

        .section__title {
            margin-bottom: 20px;
        }

        .section__sub-title {
            margin-bottom: 20px;
        }

        img {
            // max-width: 100%;
        }
    }



    &__outer {
        padding-top: 75px;
    }


    &__title {
        position: relative;
        margin-top: 0;
        margin-bottom: 25px;
    }

    &__sub-title {
        font-size: 20px;
        color: $color-highlight;
        margin-bottom: 25px;
    }

    &__text {
        margin-bottom: 25px;
    }

    &__image {
    display: block;

        &--split {

            max-width: 100%;
            &:first-child {
                transform: translateX(-90px);
            }
        }

        &--centered {
            margin-top: 25px;
            margin-bottom: 25px;
            margin-right: auto;
            margin-left: auto;
        }

        &--left {
            margin-right: 20px;
            float: right;
        }

        &--right {
            margin-left: 20px;
            float: left;
        }
    }

    &__diagram {
        margin-top: 50px;
    }

    //Hey, Listen styles
    &[data-section="2"] {
        padding-bottom: 25px;

        .section__image {
            margin-bottom: -75px;
        }
    }

    //Asset Marketplace styles
    &[data-section="5"] {
        padding-top: 100px;
        padding-bottom: 50px;
    }

    //Bounty System
    &[data-section="6"] {
        padding-bottom: 75px;
    }

    //Rupie Token
    &[data-section="7"] {
        padding-bottom: 75px;

        .section__image--centered {
            margin-top: 30px;
            margin-bottom: 50px;
        }
    }

    //Team
    &[data-section="8"] {
        padding-bottom: 25px;
    }

    //Partners
    &[data-section="9"] {
        padding-bottom: 75px;

        .section__title {
            margin-bottom: 50px;
        }
    }
}

.diagram {

    &__top-left {
        img {
            transform: translateX(-40px);
        }

        &::after {
            content: "";
            display: block;
            position: absolute;
            width: 168px;
            height: 40px;
            background-image: url('../../img/diagram-arrow.svg');
            background-position: center;
            background-repeat: no-repeat;
            left: calc(100% - 60px);
            top: -40px;
        }
    }

    &__top-right {
        &::after {
            content: "";
            display: block;
            position: absolute;
            width: 168px;
            height: 40px;
            background-image: url('../../img/diagram-arrow.svg');
            background-position: center;
            background-repeat: no-repeat;
            right: 20%;
            bottom: -180px;
            transform: rotate(135deg);
        }
    }

    &__lower {
        margin-top: 50px;

        img {
            transform: translateX(-40px);
        }

        &::after {
            content: "";
            display: block;
            position: absolute;
            width: 168px;
            height: 40px;
            background-image: url('../../img/diagram-arrow.svg');
            background-position: center;
            background-repeat: no-repeat;
            left: -35%;
            top: 140px;
            transform: rotate(-135deg);
        }
    }
}


.bg-highlight {
    background-color: $color-main;

    &--clouds {
        background-color: $color-offwhite;
    }

    &--cards + .bg-highlight--clouds {
        padding-top: 135px;
        padding-bottom: 135px;
    }
}


@import 'section-illustration';
