.section__illustration {

    &__hot-air-balloon {

        &[data-num="1"] {
            transform: scale(0.8) translateX(20px);

            @media (min-width: 1200px) {
                transform: scale(1.3) translateX(10px) translateY(60px);
                display: inline-block;
            }
        }

        &[data-num="2"] {
            transform: scale(0.35) translateY(40px) translateX(30px);

            @media (min-width: 1200px) {
                transform: scale(0.6) translateY(130px) translateX(50px);
                display: inline-block;
            }
        }

        &[data-num="3"] {
            transform: scale(0.5) translateY(-20px);

            @media (min-width: 1200px) {
                transform: scale(0.9) translateY(20px) translateX(70px);
                display: inline-block;
            }
        }
    }



    //section 2
    &__spaceship-nav {
        display: none;
        transform: translateX(60px) translateY(-150px);

        @media (min-width: 992px) {
            display: block;
        }
    }

    &__tower {
        transform: translateX(-133px) translateY(26px);
    }

    &__tower-cloud {
        transform: translateX(406px) translateY(367px);

        z-index: 2;
    }

    &__tower-path {
        clip-path: url(#tower-clip);
        transform: translateX(-80px) translateY(641px);
        z-index: 2;
    }

    &__tower-car {
        transform: translateY(-50px);

    }

    &__crane {
        transform: translateX(403px) translateY(377px);

        &-block {
            transform: translateY(9px);
        }

        &-rope {
            transform: translateX(-58px) translateY(-70px);
            transform-origin: top;
        }
    }

    &__spaceship-block {
        transform: translateX(-84px) translateY(313px) scale(.95);
    }

    &__spaceship-blades {
        &[data-num="1"] {
            transform: translateX(78px);
            transform-origin: 30px 1px;
            perspective: 500px;
        }

        &[data-num="2"] {
            transform: translateX(128px) translateY(-121px);
            perspective: 500px;
            transform-origin: 58px 1px;
        }
    }


    //section 3
    &__helicopter {
        transform: scale(1.33) rotateY(180deg);

        &[data-num="2"] {
            z-index: 2;
            transform: scale(1.25);

            .illustration__helicopter-ruby {
                text-align: left;
            }
        }
    }

    &__helicopter[data-num="2"] {
        .illustration__helicopter-blades {
            transform: translateX(15px) translateY(19px);
            transform-origin: 49px 5px;
        }
    }

    &__helicopter-blades[data-num="3"] {
        transform: translateX(107px) translateY(191px);
        transform-origin: 77px 0;
        perspective: 500px;
    }

    &__helicopter-blades[data-num="4"] {
        transform: translateX(740px) translateY(191px);
        transform-origin: 77px 0;
        perspective: 500px;
    }

    &__hearts {
        transform: translateX(25px) translateY(167px);
    }

    &__heart-outline {
        z-index: 5;
    }

    &__heart-mask {
        clip-path: url(#heart-clip);
        z-index: 2;
    }

    &__speaker-lines {
        // height: 43px;
        z-index: 2;
        &[data-num="1"] {
            transform: translateX(237px) translateY(200px) scale(0.9) rotate(-20deg);

            .section__illustration__speaker-lines-2 {
                transform: translateX(-34px);
            }
        }

        &[data-num="2"] {
            transform: translateX(732px) translateY(207px);

            .section__illustration__speaker-lines-2 {
                transform: translateX(-34px);
            }
        }
    }

    //section 4
    &__fund {
        &-coin {
            perspective: 500px;
            &[data-num="1"] {
                transform: translateX(180px) translateY(114px);
            }

            &[data-num="2"] {
                transform: translateX(75px) translateY(112px);
            }

            &[data-num="3"] {
                transform: translateX(127px) translateY(11px);
            }

            &[data-num="4"] {
                transform: translateX(231px) translateY(162px);
            }
        }
    }

    &__build {
        &-crane {
            &[data-num="1"] {
                transform: translateX(171px) translateY(102px);

                .section__illustration__build-crane-arm {
                    transform: translateX(-28px) translateY(46px);
                }

                .section__illustration__build-crane-rope {
                    transform-origin: top;
                    // transform: translateX(-40px) translateY(-20px);
                }
            }

            &[data-num="2"] {
                transform: translateX(99px) translateY(108px);

                .section__illustration__build-crane-arm {
                    transform: translateX(-30px) translateY(25px);
                }

                .section__illustration__build-crane-rope {
                    transform-origin: top;
                    transform: scaleY(0.6);
                }
            }
        }
    }

    &__connect {
        &-checkbox {
            &[data-num="1"] {
                clip-path: url(#check-clip);
                transform: translateX(51.25px) translateY(80px);
            }

            &[data-num="2"] {
                clip-path: url(#check-clip);
                transform: translateX(51.25px) translateY(103px);
            }

            &[data-num="3"] {
                clip-path: url(#check-clip);
                transform: translateX(51.25px) translateY(125px);
            }

            &[data-num="4"] {
                clip-path: url(#check-clip);
                transform: translateX(51.25px) translateY(147px);
            }

            &[data-num="5"] {
                clip-path: url(#check-clip);
                transform: translateX(51.25px) translateY(169.5px);
            }

            &[data-num="6"] {
                clip-path: url(#check-clip);
                transform: translateX(51.25px) translateY(192px);
            }
        }

        &-unchecked {
            transform: translateX(-20px) translateY(-6px);
        }

        &-checked {
            transform: translateX(-16px) translateY(-20px);
        }
    }

    //section 5
    &__space {
        &-rocketship {
            transform: translateX(308px) translateY(-86px);
        }

        &-coins {
            &[data-num="1"] {
                transform: translateX(192px) translateY(314px);
                clip-path: url(#space-clip);

                img {
                    opacity: 0.8;
                    transform: translateY(-6px);
                }
            }

            &[data-num="2"] {
                transform: translateX(416px) translateY(314px);
                clip-path: url(#space-clip);

                img {
                    opacity: 0.8;
                    transform: translateY(-6px);
                }
            }
        }
    }

    &__spaceship-rupie {
        position: relative;
        transform: translateX(20px) translateY(10px);

        &-blades {
            transform: translateX(-11px) translateY(2px);
            perspective: 500px;
        }
     }


     //section 6
     &__robot {
         &-helicopter-blades {
             transform-origin: 80px;
             perspective: 500px;
             transform: translateX(423px) translateY(56px) rotate(-8deg);
         }
     }


     //Footer
     &__footer {
         bottom: 0;
         top: auto;

         &-path {
             transform-origin: left;
             margin-bottom: -10px;
         }

         &-car {
             transform: translateX(-210px) translateY(60px);
             z-index: 2;
             position: relative;
         }
     }
}
