.section {

    &--has-bg {
        .section__title {
            color: $color-white;
        }

        .section__text {
            color: $color-white;
        }
    }

    &__outer {
        padding-top: 75px;
    }


    &__title {
        position: relative;
        margin-top: 0;
        margin-bottom: 25px;

    }

    &__image {
    display: block;

        &--split {
            margin-bottom: -75px;
            &:first-child {
                transform: translateX(-90px);
            }
        }
    }

    //Hey, Listen styles
    &[data-section="2"] {
        padding-bottom: 25px;
    }

}

.bg-highlight {
    background-color: $color-main;
}


@import 'section-illustration';
