.section {
    position: relative;

    &--has-bg {
        .section__title {
            color: $color-white;
        }

        .section__text {
            color: $color-white;
        }

        i {
            color: $color-white;
        }
    }

    &--child-section {
        height: 100%;

        .section__title {
            margin-bottom: 20px;
        }

        .section__sub-title {
            margin-bottom: 20px;
        }

        img {
            // max-width: 100%;
        }
    }

    &--img-split {

        .section__image {
            // margin-top: 25px;
            // margin-bottom: 25px;
            // max-width: 115%;
            // margin-right: -7.5%;
            // margin-left: -7.5%;

            &--left {
                @media (min-width: 992px) {
                    // transform: translateX(-90px);
                    // float: none;
                }
            }

            &--right {
                @media (min-width: 992px) {
                    transform: translateX(90px);
                    float: none;
                }
            }
        }
    }

    &--footer {
        // background-image: url('../../img/placeholder-illustrations/water.png');
        // background-repeat: no-repeat;
        // background-position: bottom center;
    }



    &__outer {
        padding-top: 50px;

        @media (min-width: 992px) {
            padding-top: 75px;
        }
    }


    &__title {
        position: relative;
        margin-top: 0;
        margin-bottom: 25px;
    }

    &__sub-title {
        font-size: 20px;
        color: $color-highlight;
        margin-bottom: 25px;
    }

    &__text {
        margin-bottom: 25px;
    }

    &__image {
    display: block;

        &--centered {
            margin-top: 25px;
            margin-bottom: 25px;
            margin-right: -25%;
            margin-left: -25%;
            max-width: 150%;

            @media (min-width: 776px) {
                margin-right: -10%;
                margin-left: -10%;
                max-width: 120%;
            }

            @media (min-width: 1200px) {
                margin-right: auto;
                margin-left: auto;
                max-width: 100%;
            }
        }

        &--left {
            // margin: 20px auto;
            // @media (min-width: 556px) {
            //     margin-right: 20px;
            //     float: right;
            // }
        }

        &--right {
            margin: 20px auto;
            @media (min-width: 556px) {
                margin-right: 20px;
                float: left;
            }
        }
    }

    &__diagram {
        margin-top: 50px;
    }

    //Hey, Listen styles
    &[data-section="2"] {
        padding-bottom: 25px;

        .illustration {
            min-height: 725px;
            margin-bottom: -75px;

            @media (min-width: 922px) {
                margin-bottom: -100px;
            }
        }


        //illustration responsive positioning
        .section__illustration__container {
            transform: translateX(-50%) scale(0.5);

            @media (min-width: 346px) {
                transform: none;
            }

            @media (min-width: 480px) {
                transform: none;
            }

            @media (min-width: 576px) {
                transform: none;
            }

            @media (min-width: 768px) {
                transform: none;
            }

            @media (min-width: 992px) {
                transform: none;
            }

            @media (min-width: 1200px) {
                transform: translateX(-150px);
            }

        }
    }

    //Why is this needed
    &[data-section="3"] {
        margin-bottom: -75px;

        .illustration {
            height: 521px;

            @media (min-width: 922px) {

            }
        }
    }

    //Asset Marketplace styles
    &[data-section="5"] {
        padding-top: 100px;
        padding-bottom: 50px;

        .section__image {
            margin-bottom: 60px;

            @media (min-width: 992px) {
                margin-bottom: 25px;
            }
        }
    }

    //Bounty System
    &[data-section="6"] {
        padding-bottom: 10px;

        @media (min-width: 992px) {
            padding-bottom: 75px;
        }
    }

    //Rupie Token
    &[data-section="7"] {
        padding-bottom: 50px;

        .section__image--centered {
            margin-top: 50px;
            margin-bottom: 50px;
            transform: scale(1.5);
        }

        @media (min-width: 576px) {

            .section__image--centered {
                margin-top: 60px;
                margin-bottom: 60px;
                transform: scale(1.2);
            }
        }

        @media (min-width: 992px) {
            padding-bottom: 75px;

            .section__image--centered {
                margin-top: 30px;
                margin-bottom: 50px;
                transform: scale(1);
            }
        }
    }

    //Team
    &[data-section="8"] {
        padding-bottom: 25px;
    }

    //Partners
    &[data-section="9"] {
        padding-bottom: 75px;

        .section__title {
            margin-bottom: 50px;
        }
    }

    //roadmap
    &[data-section="10"] {
        padding-bottom: 75px;
    }

    //footer
    &[data-section="11"] {
        padding-bottom: 190px;
    }
}


.bg-highlight {
    background-color: $color-main;

    &--clouds {
        background-color: $color-offwhite;
    }

    &--cards + .bg-highlight--clouds {
        padding-top: 100px;
        padding-bottom: 75px;

        @media (min-width: 768px) {
            padding-top: 135px;
            padding-bottom: 135px;
        }
    }

    &--cards {

        .col-sm-6.col-xl-3 {
                padding-right: 24px;

                @media (min-width: 576px) {
                    padding-right: 15px;
                }
        }
    }
}


@import 'section-illustration';
