h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
p,
i,
span,
div,
li,
label,
a {
    color: $color-main;

    font-family: $fontfamily;
}

em {
    color: $color-highlight;

    font-style: normal;
}

a {
    transition: color 0.2s ease-in-out;
    text-decoration: underline;

    color: $color-secondary;

    &:hover {
        color: $color-highlight;
    }
}

ul {
    margin: 0;
    padding: 0;

    list-style: none;
}

li {
    margin-bottom: 15px;
}

p {
    margin-bottom: 25px;

    font-size: 18px;
    font-weight: 500;
    line-height: 1.33;
}

figure {
    margin: 0;
}

h1, .h1 {
    font-size: 32px;
    font-weight: 600;
    line-height: 1;
    @media (min-width: 560px) {
        font-size: 38px;
    }
}


h2, .h2 {
    font-size: 30px;
    font-weight: 600;
    line-height: 1;

    em {
        font-weight: 800;
    }
}

h3, .h3 {
    color: $color-main;

    font-size: 30px;
    font-weight: 600;
    line-height: 1;
}
