.u-centered {
    text-align: center;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

p.u-centered {
    text-align: left;
    @media (min-width: 768px) {
        text-align: center;
    }
}
