$fontfamily: "expressway",
sans-serif;
$color-main: #0f1f2c;
$color-highlight: #ed217c;
$color-highlight-alt: #a02373;
$color-secondary: #544b9f;
$color-white: #FFF;
$color-mid-gray: #999999;
$color-offwhite: #ecf7f9;
$color-green: #018028;


$transition-curve: cubic-bezier(0.175, 0.885, 0.32, 1.275);
