@import 'variables';
@import 'mixins';
@import 'utility';
@import 'header';
@import 'illustration-components';
@import 'typography';
@import 'sections';
@import 'diagram';
@import 'roadmap';
@import 'card';
@import 'buttons';

*,
*:before,
*:after {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale
}

body,
html {
    overflow-x: hidden;

    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    @media (min-width: 1400px) {
        max-width: 1380px;
    }
}

.page-container {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #FFF;

    &__inner {
        position: relative;

        overflow: hidden;

        width: 100%;
    }
}


#headline-swap {
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: 145px;
    height: 38px;
    @media (min-width: 576px) {
        top: 43px;
    }
    span {
        position: absolute;
        left: 0;

        color: $color-highlight;

        font-style: normal;
        @media (min-width: 576px) {}
    }
}

.headline-static-text {
    display: block;

    transform: none;
    @media (min-width: 576px) {
        transform: translateX(107px);
    }
}

@include placeholder {
    color: $color-main;
}

.form {
    position: relative;
    z-index: 10;

    width: 100%;
    height: 46px;
    @media (min-width: 992px) {
        width: 77%;
    }
    &__input {
        position: absolute;
        left: 0;

        width: 100%;
        height: 45px;
        padding: 7px 15px;

        transition: background-color 0.2s ease-in-out, border 0.2s ease-in-out;

        border: 1px solid $color-highlight-alt;
        border-radius: 22px;
        background-color: #fdeaf2;

        appearance: none;
        &:focus {
            border-color: $color-highlight;
            outline: none;
            background-color: #FFF;
        }
    }
    &__submit {
        position: absolute;
        right: 0;

        width: 36px;
        height: 36px;
        margin: 5px;
        padding: 10px;

        cursor: pointer;
        transition: background .25s cubic-bezier(0.77, 0.2, 0.05, 1.0);

        border: 1px solid $color-highlight;
        border-radius: 50%;
        background: $color-highlight;

        appearance: none;
        &:focus {
            outline: none;
            &::before {
                transform: scale(1);
            }
            .svg .icon {
                fill: $color-highlight;
            }
        }
        &::before {
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;

            display: block;

            width: 100%;
            height: 100%;

            content: '';
            cursor: pointer;
            transition: transform 0.3s ease-out;
            transform: scale(0);

            border-radius: inherit;
            background-color: #FFF;
        }
        &:hover {
            outline: none;
            &::before {
                transform: scale(1);
            }
            .svg .icon {
                fill: $color-highlight;
            }
        }
        .svg {
            position: absolute;
            z-index: 2;
            top: 0;
            right: 0;
            bottom: 0;
            left: 3px;

            display: block;

            width: 12px;
            height: 12px;
            margin: auto auto;
            .icon {
                transition: fill 0.2s ease-in-out;

                fill: #FFF;
            }
        }
    }
}

#mce-responses {
    font-size: 12px;
}

#back-to-top {
    position: fixed;
    bottom: 20px;
    right: 15px;
    display: block;
    opacity: 0;
    appearance: none !important;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    z-index: 5;
    transition: opacity 0.5s $transition-button-curve;
    
    &.is-active {
        opacity: 0.5;
    }

    &:active, &:focus {
        outline: 0;
    }

    @media (min-width: 768px) {
        // right: 35px;
    }

    @media (min-width: 992px) {
        display: none;
    }
}
