// Add here all your customized variables

// Font Families
$g-font-primary: "Roboto", Helvetica, Arial, sans-serif !default;
$g-font-secondary: "Catamaran", Helvetica, Arial, sans-serif !default;

// Font Sizes
$g-font-primary-size: 16px;

// Rupie Color Palette
$rupieLightRed: #f9b7eb;
$rupieRed: #a02273;
$rupiePurple: #7b3990;
$rupieDarkPurple: #5c239e;
$rupieBlack: #0d1f2d;
$rupieWhite: #fefeff;

// Primary Color
$g-color-primary: $rupiePurple;

// Color Black
$g-color-black: $rupieBlack;

// Color White
$g-color-white: $rupieWhite;


