// Add here all your customized variables

// Variables
@import "settings/variables";

// Font Families
$g-font-primary: "Roboto", Helvetica, Arial, sans-serif;
$g-font-secondary: "Catamaran", Helvetica, Arial, sans-serif;

// Font Sizes
$g-font-primary-size: 18px;

// Rupie Color Palette
$rupieLightRed: #f9b7eb;
$rupieRed: #a02273;
$rupiePurple: #7b3990;
$rupieDarkPurple: #5c239e;
$rupieBlack: #0d1f2d;
$rupieWhite: #fefeff;

// Primary Color
$g-color-primary: $rupiePurple;
$g-color-primary-dark-v1: darken($g-color-primary, 2%);
$g-color-primary-dark-v2: $rupiePurple;
$g-color-primary-dark-v3: $rupieDarkPurple;
$g-color-primary-light-v1: rgba($g-color-primary, .2);
$g-color-primary-light-v2: rgba($g-color-primary, .8);

// Main Colors
$g-color-main: $rupieBlack;

// Color Black
$g-color-black: $rupieBlack;

// Color White
$g-color-white: $rupieWhite;

// Color Red
$g-color-red: $rupieRed;

// Color Light Red
$g-color-lightred: $rupieLightRed;

// Color Dark Red
$g-color-darkred: darken($rupieRed, 10%);

// Color Purple
$g-color-purple: $rupieDarkPurple;



