/* Add here all your css styles (customizations) */
.h1, .h2, .h3, .h4, .h5, .h6, .h7,
h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto Slab", Helvetica, Arial, sans-serif;
}

.u-header__logo-img {
  width: 70%;
}

@media all and (min-width: 576px) {
  .u-header__logo-img {
    width: 100%;
  }
}
